<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">PSA</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col alert alert-danger-strong" *ngIf="showApiIssuesBanner">
                    <p class="mb-0">We are seeing issues with the official Guild Wars 2 API at the moment.</p>
                    <p class="mb-0">Please note that this <strong>might impact GW2Auth</strong>. There is nothing you or we can do about it.</p>
                </div>

                <div class="col">
                    <button class="btn btn-accent-inner" (click)="offcanvas.close('')">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>