<main class="p-3 py-md-5">
    <div class="container mw-sm text-center">
        <div class="row row-cols-1 gy-3">
            <div class="col">
                <div class="card bg-accent">
                    <div class="card-header">
                        <app-logo [height]="'100px'"></app-logo>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row row-cols-1 g-2">
                                <div class="col alert alert-danger-strong">
                                    <p>
                                        If you logged in to GW2Auth before, <strong>please use the login provider you have used before.</strong>
                                        You can add and remove login providers in your GW2Auth account settings later.
                                    </p>
                                    <p>
                                        If you have never logged in to GW2Auth before, choose the login provider you would like to use the most.
                                    </p>
                                </div>
                                <div class="col">
                                    <a href="/auth/oauth2/authorization/github" role="button" class="btn btn-accent-inner w-100"><fa-icon [icon]="faGithub"></fa-icon> Login with GitHub</a>
                                </div>
                                <div class="col">
                                    <a href="/auth/oauth2/authorization/google" role="button" class="btn btn-accent-inner w-100"><fa-icon [icon]="faGoogle"></fa-icon> Login with Google</a>
                                </div>
                                <div class="col">
                                    <div class="divider"> OR </div>
                                </div>
                                <div class="col">
                                    <a href="/auth/oauth2/authorization/cognito" role="button" class="btn btn-primary w-100"><app-logo></app-logo> Login with E-Mail &amp; Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>