@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/functions';

$accent: $gray-300 !default;
$accent-color: $dark !default;
$accent-inner: $secondary !default;
$danger-strong: #ff0000 !default;
$danger-strong-text: #990000 !default;
$danger-strong-bg-subtle: #ffcccc !default;
$danger-strong-border-subtle: #ffb3b3 !default;

//

// region list-group
$list-group-active-border-color: $list-group-active-bg !default;
$list-group-disabled-color: $list-group-color !default;
$list-group-hover-bg: $list-group-active-bg !default;
$list-group-action-color: $list-group-color !default;
$list-group-action-hover-color: $list-group-action-color !default;
// endregion